%dl
  %dt= post.title
  %dd= post.content

.postLinkBar
= link_to t('application.actions.show'), post
= link_to t('application.actions.edit'), edit_post_path(post)
= link_to t('application.actions.destroy'), post, :confirm => t('application.messages.are_you_sure'), :method => :delete
