%h1= t 'application.titles.new_post'
%br
-#%p= link_to t('application.actions.back'), posts_path

.formWrapper
  = form_for(@post) do |f|
    - if @post.errors.any?
      = render :partial => 'shared/errors', :locals => { :object => @post}
    = render :partial => 'posts/form', :locals => { :f => f }

    .actions
      = f.submit t('application.actions.create')
      = link_to t('application.actions.cancel'), posts_path

%p= link_to t('application.actions.back'), posts_path
